* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'inter';
}

body {
    background-color: #F5F8FF;
}

.container {
    width: 1140px;
    margin: auto;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container .pages {
    display: flex;
    gap: 48px;
}

.pages a:nth-child(2),
.pages a:nth-child(3) {
    color: #8987A1;
    text-decoration: none;
}

.pages a:nth-child(1) {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #252432;
}

.hero-section-container {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.fresh-container h1 {
    font-family: 'noto serif';
    font-size: 65px;
    font-weight: 700;
    line-height: 89px;
}

.fresh-container h1 span {
    font-family: 'noto serif';
    color: rgb(233, 90, 8);
    line-height: 89px;
}

.fresh-container p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 400;
}

.fresh-flower img {
    display: block;
}

.plants-text {
    margin-top: 120px;
    text-align: center;
}

.plants-text h1 {
    color: rgb(233, 90, 8);
    font-family: Noto Serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 68px;
    margin-bottom: 16px;
}

.plants-text h1 span {
    color: black;
    font-family: Noto Serif;

}

.plants-text p {
    color: rgba(0, 0, 0, 0.5);
}

.flower-card .btn {
    padding: 19px 80px;
    background: rgb(233, 90, 8);
    color: rgb(255, 255, 255);
    line-height: 19px;
    border: none;
    width: 100%;
}

.flower-card .details {
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: rgb(17, 17, 17);
    font-size: 22px;
}

.flower-card .details .price {
    font-weight: 700;
}

.flower-card .details .lily {
    color: rgb(17, 17, 17);
    font-weight: 500;
}

.featured {
    margin-top: 49px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.plant-lover-container {
    margin-top: 212px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.lover-containner {
    display: flex;
    flex-direction: column;
}

.lover-containner h1 {
    font-size: 50px;
    font-weight: 700;
    font-family: 'noto serif';
}

.lover-containner .list {
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
}

li {
    padding: 20px 0px 0px 0px;
}

@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.trusted-badge {
    height: 286px;
    width: 286px;
    background: transparent;
    animation: rotate360 5s linear infinite;
}

.plat-store {
    position: relative;
}

.plat-store .trusted-badge {
    z-index: 1;
    position: absolute;
    left: 70%;
    top: -20%;
}

.deals-container {
    margin-top: 134px;
    text-align: center;
}

.deals-container h1 {
    font-family: 'noto serif';
    font-size: 50px;
}

.deals-container span {
    font-family: 'noto serif';
    color: #E95A08;
}

.deals-container p {
    margin-top: 16px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
}

.deals-cards-container {
    margin-top: 121px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.deals-cards-container .deals-cards .bloom-plant {
    position: relative;
    overflow: hidden;
    background-image: url(./assets/deal-bloom.png);
    background-size: cover;
    background-position: center;

    height: 201px;
    width: 367px;
    border-radius: 14px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.deals-cards-container h3 {
    font-family: 'noto serif';
    font-size: 20px;
}

.bloom-plant,
.ana-plant,
.zabo-plant,
h3 {
    background: transparent;
    color: #FFFFFF;

}

.bloom-plant::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
    border-radius: 14px;
}

.bloom-plant * {
    position: relative;
    z-index: 1;
}

.deals-cards-container .deals-cards .ana-plant {
    position: relative;
    overflow: hidden;
    background-image: url(./assets/deal-ana.png);
    background-size: cover;
    background-position: center;

    height: 201px;
    width: 367px;
    border-radius: 14px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


.ana-plant::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
    border-radius: 14px;
}

.ana-plant * {
    position: relative;
    z-index: 1;
}

.deals-cards-container .deals-cards a {
    background: transparent;
    color: #FFFFFF;
    text-decoration: underline;
}

.deals-cards {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.deals-cards-container .zabo-plant {
    background-image: url(./assets/deal-zabo.png);
    height: 424px;
    width: 753px;
    border-radius: 14px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

}

.deals-cards-container .zabo-plant a {
    background: transparent;
    color: #FFFFFF;
    font-size: 28px;
    text-decoration: underline;
}

.deals-cards-container h1 {
    font-family: 'noto serif';
    font-size: 40px;
}

.zabo-plant::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
    border-radius: 14px;
}

.zabo-plant * {
    position: relative;
    z-index: 1;
}

.deals-cards-container .zabo-plant h1 {
    color: #FFFFFF;
    background: transparent;
    color: #FFFFFF;

}

.newsletter-section-container {
    margin-top: 120px;
    background-image: url(./assets/news-letter-bg.png);
    height: 533px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: transparent;
}

.newsletter-container h1 {
    font-family: 'Noto Serif', serif;
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 20px;
    background: transparent;
}

.email-input {
    padding: 12px 30px;
    width: 644px;
    height: 50px;
    border: none;
    font-size: 16px;
    color: #666;
    background-color: #ffffff;

}

.subscribe-button {

    border: none;
    color: #ffffff;
    background-color: #E95A08;
    width: 186px;
    height: 50px;
    text-align: center;
}

.newsletter-container div {
    display: flex;
    align-items: center;
}

.footer-section-container {
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
}

.quick-links-container a {
    color: #6B7280;
}

.quick-links-container {
    display: flex;
    gap: 110px;
}

.quick-links-1 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.quick-links-2 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.social-meadia-links {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.social-meadia-links a {
    display: flex;
    align-items: center;
}

.social-meadia-links img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    display: block;
}

.logo-sub p {
    margin-top: 16px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }

    .navbar-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-container .pages a:nth-child(1),
    .navbar-container .pages a:nth-child(2),
    .navbar-container .pages a:nth-child(3) {
        display: none;
    }

    .navbar-container .pages {
        gap: 0;
    }

    .navbar-container .pages a:nth-child(4) {
        display: flex;
        align-items: center;
        font-weight: 700;
        color: #252432;
    }

    .hero-section-container {
        flex-direction: column-reverse;
        margin-top: 28px;
        gap: 24px;
        align-items: center;
    }

    .featured {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        margin-top: 28px;
        padding: 0 10px;
    }

    .flower-card {
        background-color: #fff;
        overflow: hidden;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .flower-card img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }

    .flower-card .details {
        padding: 16px 10px;
        gap: 10px;
        font-size: 0.875rem;
    }

    .flower-card .details .price {
        font-size: 1rem;
        font-weight: 700;
    }

    .flower-card .btn {
        font-size: 0.875rem;
        padding: 12px 0;
        width: 100%;
    }

    .fresh-container h1 {
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: center;
    }

    .fresh-container p {
        font-size: 0.875rem;
        text-align: center;
    }

    .fresh-flower img {
        width: 100%;
    }

    .featured {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        margin-top: 28px;
    }

    .plant-lover-container {
        flex-direction: column;
        gap: 0;
        margin: 40px 20px;
        align-items: center;
    }

    .trusted-badge {
        display: none;
    }

    .lover-containner h1 {
        font-size: 1.25rem;
        text-align: left;
        margin-top: 16px;
    }

    .lover-containner .list {
        font-size: 0.875rem;
        text-align: left;
    }


    .deals-container h1 {
        font-size: 1.5rem;
    }

    .deals-container p {
        font-size: 0.875rem;
    }

    .deals-cards-container {
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin-top: 40px;
    }

    .deals-cards {
        flex-direction: column;
        width: 100%;
        gap: 16px;
    }

    .bloom-plant,
    .ana-plant,
    .zabo-plant {
        width: 100%;
        height: 201px;
        border-radius: 14px;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        overflow: hidden;
        text-align: center;
    }

    .zabo-plant {
        width: 100% !important;
        height: 201px !important;
    }

    .deals-cards-container h3,
    .zabo-plant h1 {
        font-size: 20px;
    }

    .deals-cards-container a,
    .zabo-plant a {
        font-size: 16px;
        text-decoration: underline;
    }

    .newsletter-section-container {
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 60px 20px;
        background-position: center;
    }

    .newsletter-container h1 {
        font-size: 1.5rem;
        margin-bottom: 16px;
    }

    .newsletter-container div {
        flex-direction: row;
        width: 100%;
        gap: 0;
    }

    .email-input {
        width: 70%;
    }

    .subscribe-button {
        width: 30%;
    }

    .footer-section-container {
        flex-direction: column;
        padding: 0;
        margin: 50px 20px;
        align-items: start;
        gap: 32px;
    }

    .quick-links-container {
        flex-direction: column;
        gap: 24px;
    }

    .quick-links-1,
    .quick-links-2 {
        gap: 16px;
    }

    .social-meadia-links {
        gap: 16px;
    }

    .logo-sub p {
        font-size: 0.875rem;
    }

    .footer-log img {
        width: 50%;
    }
}